Tema5/Ejercicio22/Ejercicio22.dtd

<!ENTITY yo "Tu Nombre y Apellidos">
<!ENTITY curso "Primero de Administración de Sistemas Informáticos en Red">

<!ELEMENT mensajes (mensaje+)>
<!ELEMENT mensaje (autor, destinatario+, asunto, texto)>

<!ELEMENT autor (#PCDATA)>
<!ELEMENT destinatario (#PCDATA)>
<!ELEMENT asunto (#PCDATA)>
<!ELEMENT texto (#PCDATA)>