Tema7/alumno.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="alumno">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"></xs:element>
                <xs:element name="edad" type="xs:integer"></xs:element>
                <xs:element name="nota" type="xs:decimal" minOccurs="1" maxOccurs="10"></xs:element>
                <xs:element name="telefono" type="xs:string" minOccurs="1" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>